.add-moim-button {
  position: fixed;
  bottom: 4.5rem;
  right: 12.5rem;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    #ff6a20,
    #ffaa17
  ); /* 오렌지 그라디언트 */
  border: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.18),
    inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.21s ease-in-out;
}

.add-moim-button:hover {
  transform: scale(1.05);
}

.add-moim-icon {
  width: 33px;
  height: 33px;
  filter: brightness(0) invert(1); /* 아이콘을 흰색으로 변경 */

  margin-left: 2.5px;
}
