.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 265px;
  height: 100%;
  background: #fcfcfc;
  color: #000000;
  transform: translateX(-100%); /* 기본적으로 숨김 */
  transition: transform 0.3s ease-in-out; /* 부드러운 애니메이션 */
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black05);
}

.sidebar.open {
  transform: translateX(0); /* 열릴 때 */
}

.menu-container {
  cursor: pointer;
  z-index: 1000; /* 사이드바 위에 유지 */
}

.sidebar__content {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 7rem;
}

.category-title {
  font-weight: bold;
  font-size: 1.1rem;
  /* margin: 0.5rem 0; */
}

.menu-list,
.group-list {
  list-style: none;
  padding: 0;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ✅ 리스트 항목 스타일 */
.menu-list li,
.group-list li {
  font-size: 15px;
  color: #7d7d7d;
  transition: color 0.2s ease-in-out;
}

.menu-list {
  margin-top: 1.2rem;
}

.menu-list li:hover,
.group-list li:hover {
  color: #000; /* 호버 시 진한 색 */
}

/* ✅ 링크 스타일 초기화 */
.menu-list li a,
.group-list li a {
  text-decoration: none;
  color: inherit;
  /* font-weight: normal; */
}

.menu-list a,
.group-list a {
  padding-left: 0.1rem;
}

/* 구분선 */
.sidebar hr {
  border: none; /* 기본 선 제거 */
  height: 1px; /* 선의 두께 */
  background: rgba(0, 0, 0, 0.09); /* 연한 회색 */
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  width: 100%; /* 전체 너비 적용 */
}

/* ✅ 입력창 디자인 */
.addGroup-submit {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px 12px;
  border-radius: 5px;
  border: 1px solid var(--black10);
  box-shadow: 0 0 3px var(--black05);
  margin-top: 0.5rem;
  /* margin-bottom: 0.5rem; */
}

.addGroup-submit input {
  border: none;
  outline: none;
  font-size: 13px;
  flex: 1;
}

.addGroup-submit input::placeholder {
  color: var(--black30);
}

.addGroup-submit input:focus::placeholder {
  /* color: var(--black30); */
  color: white;
  transition: all 0.1s;
}

/* ✅ 추가 버튼 디자인 */
.addGroup-button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addGroup-icon {
  width: 14px;
  opacity: 0.4; /* ✅ 30% 투명도 */
  transition: opacity 0.1s ease-in-out; /* 부드러운 효과 */
}

.addGroup-icon:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
