.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100%;
  background: #fcfcfc;
  color: #000000;
  transform: translateX(-100%); /* 기본적으로 숨김 */
  transition: transform 0.3s ease-in-out; /* 부드러운 애니메이션 */
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  transform: translateX(0); /* 열릴 때 */
}

.menu-container {
  cursor: pointer;
  z-index: 1000; /* 사이드바 위에 유지 */
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 6rem;
}

.category-title {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
  color: #ddd;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  padding: 10px 0;
}
