header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-component__left {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

/* menu */
.menu-icon {
  width: 1.2rem;
}

/* 로고 */
.logoSimple-icon {
  width: 2.5rem;
  height: 2.5rem;
}

/* 회원 이름 및 버튼 */
.user {
  display: flex;
  width: 100%;
}

/* 회원 이름 */
.user > .user-name {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 0.3rem;
}

.user-name__hello {
  margin-right: 1rem;
  margin-left: 0.2rem;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}
/* 로그인, 로그아웃 버튼 */
.user > button {
  all: unset;
  display: flex;
  justify-content: center;

  font-size: 12px;
  background-color: white;

  width: 85px;
  padding: 0.5rem 0;
  /* padding: 0.5rem 0.7rem 0.5rem 0.8rem; */

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  gap: 0.3rem;
  cursor: pointer;
}

.logout {
  display: flex;
  /* width: 200px; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logout-span {
  display: flex;
  cursor: pointer;
}

.logout-icon {
  width: 0.8rem;
  height: auto;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.01);
  transition: all 0.1s;
}
