header {
  width: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-component__left {
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

/* menu */
.menu-icon {
  width: 1.5rem;
}

/* 로고 */
.logoSimple-icon {
  width: 2.5rem;
  height: 2.5rem;
}

/* 회원 이름 및 버튼 */
.user {
  display: flex;
}

/* 회원 이름 */
.user > .user-name {
  font-size: 14px;
  font-weight: 700;
  margin-right: 1rem;
}

/* 로그인, 로그아웃 버튼 */
.user > button {
  font-size: 12px;
  background-color: white;

  padding: 0.3rem 0;
  width: 6rem;
  height: 2.3rem;

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.logout-icon {
  width: 1rem;
  height: auto;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.01);
  transition: all 0.1s;
}
