.google-login-btn {
  all: unset;

  width: 280px;
  height: 50px;

  border-radius: 10px;
  background-color: white;
  border: 1px solid var(--black10);

  /* background-repeat: no-repeat; */

  font-size: 1rem;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.google-icon {
  width: 18px;
  height: 18px;
}
.google-login-button {
  display: flex;
  font-size: 16px;
  color: black;
  text-decoration: none;
}
