.title-section {
  width: 100%;
}

.gradient-text {
  background: linear-gradient(45deg, #ff7d3b 40%, #ffbe4d);
  -webkit-background-clip: text; /* ✅ 텍스트에 배경 적용 */
  -webkit-text-fill-color: transparent; /* ✅ 텍스트 색상을 투명하게 설정 */
  font-weight: bold;
  font-size: 24px;
}
.main-title {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.4;
  background: linear-gradient(45deg, #ff7d3b 40%, #ffbe4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.main-title::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: skewX(-25deg);
  opacity: 0;
}

.main-title:hover::after {
  animation: shineEffect 4s ease-in-out;
}

@keyframes shineEffect {
  0% {
    left: -150%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 150%;
    opacity: 0;
  }
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 1rem;
}
