.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.divider-text {
  position: relative;
  font-size: 13px;

  color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.divider-text::before,
.divider-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 54px; /* 선의 길이 */
  height: 1px;
  background: var(--black15); /* 선 색상 */
}

.divider-text::before {
  left: -64px; /* 왼쪽 선 위치 조정 */
}

.divider-text::after {
  right: -64px; /* 오른쪽 선 위치 조정 */
}
