@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.join-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 280px;
}
.input-field-join {
  width: 100%;
  padding: 0.9rem 1rem;
  border: 1px solid var(--black10);
  border-radius: 10px;
  font-size: 16px;
  font-family: "Pretendard", sans-serif;
  /* font-weight: 50; */

  outline: none; /* 기본 브라우저 아웃라인 제거 */
  transition: border 0.05s ease-in-out; /* 부드러운 효과 */
}
.input-field-join::placeholder {
  color: var(--black30);
}

.input-field-join:focus {
  border: 1px solid #ffaf40; /* 보더 색 변경 (오렌지) */
}

.join-button {
  width: 100%;
  padding: 0.9rem 1rem;
  background: linear-gradient(90deg, var(--orange), var(--yellow));
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
